<html>
    <head>

    </head>
    <body>
        <h1>
            This is my landing page
        </h1>
        <p>
            <a href="{% url 'catalog' %}">Katalozi</a>
        </p>
        <p>
            <a href="{% url 'catalog-bands' %}">Katalog bendova</a>
            <a href="#">Katalog albuma</a>
            <a href="#">Katalog pjesama</a>
        </p>
        <p>
            <a href="#">Playliste</a>
        </p>
        <p>
            <a href="#">Statistika</a>
        </p>
    </body>
</html>